body{
    margin: 0;
}

.form-group{
    margin-top: 5vh;
   margin-left: 6vw;
   margin-bottom: 2vh;
}
#box{
    background-color: grey;
    width: 30%;
    padding-top: 1vh;
    margin-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 3vw;

}
label{
    width: 150px;
    display: inline-block;
}
input{
   flex: 1;
   padding: 0.5em;
   box-sizing: border-box;
} 
.btn{
   margin-left: 12vw ;
}
.divide{
    width: 40%;
        /* border-bottom: solid; */
}
.output{
    margin-left:3vw;
}
h2{
    margin-top: 5vh;
    margin-left: 11.5vw; 
}